registry = https://socket-firewall-registry.corporate.intercom.io/npm
//socket-firewall-registry.corporate.intercom.io/npm/:_authToken = "BYUi5HGeKW4GPN1z6PXqjeo3IVmLJ9uFA8TQFzoP2VbRt3h0J9AMaqz9A"
strict-ssl = true
always-auth = true
