registry = https://socket-firewall-registry.corporate.intercom.io/npm
//socket-firewall-registry.corporate.intercom.io/npm/:_authToken = ${SOCKET_FIREWALL_NPM_TOKEN}
strict-ssl = true
always-auth = true
